@using Model = WebClient.Models;

@model Model.ArbitraryPaymentModel

@{
    ViewBag.Title = "Произвольный платеж";
    Layout = "~/Views/Shared/_PaymentsLayoutPage.cshtml";
}

<div class="blue-header">
    <span>Произвольный платеж</span>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    Html.RenderAction("CardAccountsPartial", "CardAccount", new { cardNumber = Model.AccountCardNumber, cardId = Model.AccountCardId });

    <div class="payment-info">
        <span style="font-size: 120%; font-weight: bold;">Данные платежа</span><br />
        <br />
        <span style="color: red">@Html.ValidationMessage("CustomError")</span><br />
        <br />

        <span style="color: red">Обязательные поля почемены знаком - *</span><br />
        <table>
            <tbody>
                <tr>
                    <td>Банк получатель <span style="color: red">*</span></td>
                    <td>
                        <div>
                            @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })<br/>
                            @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>УНП </td>
                    <td>
                        <div>
                            @Html.ValidationMessageFor(model => model.UNP, "", new { @class = "text-danger" })<br />
                            @Html.EditorFor(model => model.UNP, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Номер счета получателя <span style="color: red">*</span></td>
                    <td>
                        <div>
                            @Html.ValidationMessageFor(model => model.RecipientAccount, "", new { @class = "text-danger" })<br />
                            @Html.EditorFor(model => model.RecipientAccount, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Получатель <span style="color: red">*</span></td>
                    <td>
                        <div>
                            @Html.ValidationMessageFor(model => model.Recipient, "", new { @class = "text-danger" })<br />
                            @Html.EditorFor(model => model.Recipient, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Цель </td>
                    <td>
                        <div>
                            @Html.ValidationMessageFor(model => model.Target, "", new { @class = "text-danger" })<br />
                            @Html.EditorFor(model => model.Target, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Сумма <span style="color: red">*</span> </td>
                    <td>
                        <div>
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })<br />
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                </tr>
                @if (!Model.FromOwnPayments) { 
                <tr>
                    <td>В собственные платежи? </td>
                    <td>
                        <div>
                            @Html.CheckBox("ToOwnPayments", false)
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Оплатить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
