@using Models = WebClient.Models;

@model Models.SSISPaymentModel

@{
    ViewBag.Title = "Информация о платеже";
    Layout = "~/Views/Shared/_PaymentsLayoutPage.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="personal-info">
        <span style="font-size:120%; font-weight: bold;">Данные платежа</span><br />
        <p></p>
        <table>
            <tbody>
                <tr>
                    <td>Название: </td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Информация: </td>
                    <td>@Model.Information</td>
                </tr>
                <tr>
                    <td>Номер карты: </td>
                    <td>@Model.CardNumber</td>
                </tr>
                <tr>
                    <td>@Model.NumberLabel: </td>
                    <td>@Model.Number</td>
                </tr>
                <tr>
                    <td>Сумма: </td>
                    <td>@Model.Amount</td>
                </tr>
            </tbody>
        </table>

        <div style="display: none">
            @Html.EditorForModel(Model);
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Оплатить" class="btn btn-default" />
                @Html.ActionLink("Назад", "SSIS", Model, new { @class = "button" })
            </div>
        </div>
    </div>

}
