@using Models = WebClient.Models;

@model Models.MobilePaymentModel

@{
    ViewBag.Title = "Мобильная связь";
    Layout = "~/Views/Shared/_PaymentsLayoutPage.cshtml";
}

<div class="blue-header">
    <span>Оплата мобильной связи</span>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    Html.RenderAction("CardAccountsPartial", "CardAccount", new { cardNumber = Model.CardNumber, cardId = Model.CardAccountID });

    <div class="payment-info">
        <span style="font-size: 120%; font-weight: bold;">Данные платежа</span><br />
        <br />
        <span style="color: red">@Html.ValidationMessage("CustomError")</span><br />
        <br />

        <span style="color: red">Обязательные поля почемены знаком - *</span><br />
        <table>
            <tbody>
                <tr>
                    <td>Оператор </td>
                    <td>
                        <div>                            
                            @Model.Provider
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Номер телефона <span style="color: red">*</span></td>
                    <td>
                        <div>
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })<br />
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Сумма <span style="color: red">*</span> </td>
                    <td>
                        <div>
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })<br />
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                </tr>
@if (!Model.FromOwnPayments) {
                <tr>
                    <td>В собственные платежи? </td>
                    <td>
                        <div>
                            @Html.CheckBox("ToOwnPayments", false, new { style = "width:34px" })
                        </div>
                    </td>
                </tr>
}
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Оплатить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

