@using System.Web.Optimization
@using Models = WebClient.Models;

@model Models.SecretCodeModel

@{
    ViewBag.Title = "SecretCode";
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}

@Styles.Render("~/Login/SecretCode/css")

@using (Html.BeginForm("SecretCode", "Login"))
{
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => model.CodeIndex);
        
        <div class="secure-code-label">
            <span>Введите код</span>
            <span class="secure-code-label-number">№@Model.CodeIndex</span>
            <span>Оталось попыток: </span>
            <span class="secure-code-label-number">@Model.Remaining</span>
        </div>
        <div class="estimation-text">Код действует 1 минуту</div>

        <div class="form-group">
            <div>
                @Html.ValidationMessageFor(model => model.EnteredCode, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.EnteredCode, new { htmlAttributes = new { @class = "secure-code" } })
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Войти" class="sign-in" />
                <a href="@Url.Action("Index")">
                    <input type="button" value="Отмена" class="sign-in cancel"/>
                </a>
            </div>
        </div>

    </div>
}
